In [4]:
import pandas as pd
import matplotlib.pyplot as plt

# Read the data from the CSV file
#result_paper = pd.read_csv('result_paper.csv')
result_j = pd.read_csv('result_j.csv')
result_rs = pd.read_csv('result_rs.csv')

# Plot the data

In [7]:
# Read the data from the CSV file
result_size_paper = pd.read_csv('result_size_paper.csv')
result_size_j = pd.read_csv('result_size_j.csv')
result_size_rs = pd.read_csv('result_size_rs.csv')

result_size_j.head()

  Graph Name   Max Ref Count   Compression Window   Graph Size   Offset Size
0    uk-2002              -1                    1        78.25         18.81
1    uk-2002               1                    1       110.02         20.81
2    uk-2002               3                    1        93.09         19.74
3    uk-2002              -1                    3        69.27         18.20
4    uk-2002               1                    3        94.87         20.04

In [6]:
result_size_paper.head()

,R,Graph Size (MiB),Offset-Array Size (MiB) Seq.,Offset-Array Size (MiB) J=1,Offset-Array Size (MiB) J=2,Offset-Array Size (MiB) J=4,Link Access Time (ns) Seq.,Link Access Time (ns) J=1,Link Access Time (ns) J=2,Link Access Time (ns) J=4
0,∞,79.0,-,141.3,70.7,35.3,198,31237,35752,43699
1,3,106.6,-,141.3,70.7,35.3,206,611,753,886
2,1,122.9,-,141.3,70.7,35.3,233,442,491,605
3,∞ (Transpose),70.3,-,141.3,70.7,35.3,150,2382,2873,2961
4,3 (Transpose),74.6,-,141.3,70.7,35.3,171,342,424,516